# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

.RData
.Ruserdata
/*.tar.gz
/*.Rcheck/
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
.DS_Store
